Docs/integration/n8n/AI-Now End-to-End Metadata Automation.json
{
  "name": "AI-Now End-to-End Metadata Automation",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "fileAdded",
        "folderId": "YOUR_GOOGLE_DRIVE_FOLDER_ID"
      },
      "name": "Watch Transcripts Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { prompt: `From this transcript, create for the AI‑Now YouTube channel:\n1. Pick the best keyword cluster (AI Education, Automation, AI Ethics, AI Trends, Podcast Discovery).\n2. Write an SEO‑optimized title (max 70 characters) that front‑loads the primary keyword and includes a hook.\n3. Write a 150–250 word SEO‑optimized description: hook with primary keyword, 3–5 bullet topics with secondary keywords, timestamps, call‑to‑action, 5–8 hashtags.\n4. Generate 10–15 optimized tags (mix primary, secondary, branded: AINow, AI‑Now Podcast, v2uAI).\nOutput as:\nTitle: [text]\nPrimary Keyword Cluster: [name]\nDescription: [text]\nTags: [comma‑separated list]\n\nTRANSCRIPT:\n${$json[\"body\"] || \"<Transcript text here>\"}` } }];"
      },
      "name": "Inject End-to-End Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "={{$json[\"prompt\"]}}",
        "temperature": 0.7
      },
      "name": "Generate Metadata (AI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [800, 300],
      "credentials": {
        "openAiApi": "YOUR_OPENAI_API_CREDENTIAL"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "CTR_Tracking!A:E",
        "options": {},
        "valueInputMode": "RAW",
        "values": "={{[ [ new Date().toISOString(), $json[\"Title\"], $json[\"Primary Keyword Cluster\"], $json[\"Tags\"], \"Draft\" ] ]}}"
      },
      "name": "Log to CTR Tracking Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "googleApi": "YOUR_GOOGLE_API_CREDENTIAL"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "videoId": "YOUR_VIDEO_ID",
        "title": "={{$json[\"Title\"]}}",
        "description": "={{$json[\"Description\"]}}",
        "tags": "={{$json[\"Tags\"].split(\",\")}}"
      },
      "name": "Update YouTube Draft",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": {
        "youTubeOAuth2Api": "YOUR_YOUTUBE_API_CREDENTIAL"
      }
    }
  ],
  "connections": {
    "Watch Transcripts Folder": {
      "main": [
        [
          {
            "node": "Inject End-to-End Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject End-to-End Prompt": {
      "main": [
        [
          {
            "node": "Generate Metadata (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Metadata (AI)": {
      "main": [
        [
          {
            "node": "Log to CTR Tracking Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update YouTube Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}